@font-face {
  font-family: 'Baloo Tamma 2';
  src: url(./assets/fonts/Baloo_Tamma_2/BalooTamma2-Regular.ttf);
}

@font-face {
  font-family: 'Baloo Tamma 2';
  src: url(./assets/fonts/Baloo_Tamma_2/BalooTamma2-Medium.ttf);
  font-weight: 500;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Baloo Tamma 2', cursive;
  background-color: #252a41;
  background-color: #f0f2fa;
  margin: 0;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    width: 90vw;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80vw;
  }
}
