@font-face {
  font-family: 'Baloo Tamma 2';
  src: url(./assets/fonts/Baloo_Tamma_2/BalooTamma2-Regular.ttf);
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Baloo Tamma 2', cursive;
  background-color: #252a41;
  background-color: #f0f2fa;
  margin: 0;
}

.container {
  width: 90vw;
  margin: 0 auto;
}
